<div class="container">
  <div class="card card-container">
  	<div *ngIf="error" class="alert alert-danger">
    		<strong>{{error}}</strong>
  	</div>
  	<h4>Log In</h4>
  	<img id="profile-img" class="profile-img-card" src="../assets/user-icon-png-pnglogocom.png"/>
  <form #loginForm="ngForm" (ngSubmit)="userAuthenicate(loginForm)" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
          <div class="input-group"> 
            <md-input-container>
              <input mdInput placeholder="Enter Your Email" class="form-control" name="email" type="email" ngModel required #email="ngModel">
            	<div class="alert alert-danger" [hidden]= "email.valid || email.pristine">
  				      Email is required
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3">
          <div class="input-group">
            <md-input-container>
              <input mdInput placeholder="Enter Your Password" class="form-control" name="password" 
              type="password" ngModel required #password="ngModel">
              <div class="alert alert-danger" [hidden]= "password.valid||password.pristine">
  				      Password is required
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="Submit"></label>
        <div class="col-md-4">
          <button class="btn btn-primary" type="Submit" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </div>
  </form>
  <a routerLink="/resestPassword"  class="forgot-password" routerLinkActive="active">
  	Forgot Password ?
  </a>
  </div>
</div>
