<div class="card">
	<h4 class="card-header">Sign In</h4>
	<div class="card-block">
		<form class="form-group" [formGroup] = "loginForm" (ngSubmit)="userAuthenicate()">
			<div class="form-group">
				<label for="email">Email-ID:</label>
				<input type="email" class="form-control" formControlName="email" placeholder="Enter your email-id">
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
			</div>
			<toaster-container></toaster-container>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>