<div class="card">
	<h4 class="card-header">Reset Password</h4>
	<div *ngIf="successMessage" class="alert alert-success">
  		<strong>{{successMessage}}</strong>
	</div>
	<div *ngIf="failureMessage" class="alert alert-danger">
  		<strong>{{failureMessage}}</strong>
	</div>

	<div class="card-block">
		<form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)" class="form-group" >
			<div class="form-group">
				<label for="email">Email-ID:</label>
				<input type="email" class="form-control" placeholder="Enter your email-id" 
				name="email" ngModel #email="ngModel" required>
			</div>
			<div class="form-group" *ngIf="emailFound">
				<label for="email">New Password</label>
				<input type="password" class="form-control" placeholder="Enter your new password" 
				name="password" ngModel #password="ngModel" required>
			</div>
			<button type="submit" class="btn btn-success" type="Submit"
			[disabled]="!resetForm.valid">Submit</button>
		</form>
	</div>
</div>